.introduçao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}
.introduçao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}
.introduçao h1::before {
  content: "";
  width: 150px;
  height: 135px;
  background: url(../../ImgProjeto/Detalhe.svg) no-repeat;
  position: absolute;
  top: -13px;
  left: -40px;
  z-index: -1;
}
.introduçao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introduçao h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .introduçao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 10px;
  }
}
@media (max-width: 600px) {
  .introduçao {
    gap: 40px;
  }
}
@media (max-width: 554px) {
  .header {
    padding: 10px 0px;
  }

  .introduçao h1 {
    grid-template-columns: 1fr;
  }
  .introduçao h1::before {
    content: "";
    width: 150px;
    height: 135px;
    background: url(../../ImgProjeto/detalhemenor2.svg) no-repeat;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: -1;
  }
  .introduçao img {
    display: none;
  }
}
