.formacao {
  color: #fff;
  background: #141414;
}
.formacao-containier {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}
.formacao-containier::after {
  display: block;
  content: "";
  width: 150px;
  height: 135px;
  background: url(../../ImgProjeto/Detalhe.svg) no-repeat center;
  position: absolute;
  bottom: -60px;
}
.formacao .subtitulo {
  color: #000;
  max-width: 5ch;
}
.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.formacao strong {
  color: #fff;
}
.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.faculdade {
  display: flex;
  flex-direction: column;
  background: #000;
  flex: 1;
  padding: 20px;
  border-radius: 4px;
}
.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}
.faculdade-curso {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}
.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: #5f78b8;
  position: absolute;
  left: -24px;
  border-radius: 1px;
}
.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}
.curso {
  margin-bottom: 60px;
}
.formacao-extras h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.idiomas h3::before {
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  background: url(../../ImgProjeto/Detalhe-idiomas.svg) no-repeat;
  position: absolute;
  left: -35px;
  top: -7px;
}
.formacao-extras {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 20px;
}
.formacao-extras span {
  color: #8f8f8f;
}
.cursos li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.idiomas {
  margin-top: 50px;
}
.cursos h3::before {
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  background: url(../../ImgProjeto/Icone-livro.svg) no-repeat;
  position: absolute;
  left: -35px;
  top: -8px;
}

@media (max-width: 850px) {
  .formacao-containier {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 60px 20px;
  }
  .formacao .subtitulo {
    font-size: 3rem;
  }
  .formacao-texto {
    font-size: 1.11;
  }
  .cursos h3::before {
    position: initial;
    margin-bottom: -15px;
  }
  .idiomas h3::before {
    position: initial;
    margin-bottom: -15px;
  }
}
